@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*reseteo generico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*letras y colores*/
p, h1, h2, label, textarea, input {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
}
.letra {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.arregloletra{
    font-style: normal;
    color: rgb(255, 255, 255);
}
.colorg { 
    color:rgb(0, 69, 126) !important;
    font-weight: bold;
}
.colorg1 { 
    color:rgb(0, 174, 255) !important;
    font-weight: bold;
}
.datos {
    color:rgb(219, 255, 14);
    text-align: center
}
.datos1 {
    color:rgb(219, 255, 14) !important;
}
.centrado {
    margin-top: 25%;
    text-align: justify;
}
.arreglo {
    text-align: justify;
}
.arreglo1 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.arreglo2 {
    padding-top: 60px;
    padding-bottom: 50px;
}
.arreglo3{
    margin-bottom: 60px;
}
.colorete{
    background-color: rgb(4, 24, 59);
    border-radius: 10px;
}
.colorete1{
    background-color: rgb(187, 235, 236);
}
.colorete2{
    background-color: chocolate;
}
.colorete3{
    background-color: rgb(195, 195, 207);
}
.ver{
    display: inline-block;
    margin-right: 10px;
}
.separo2 {
    margin-top: 2%; 
}
.separo {
    margin-top: 5%; 
}
.separo4 {
    margin: 5%; 
}
.separo3{
    margin-top: 5%;
    margin-bottom: 5%;
}
.mover{
    margin-left: 90px;
    padding-left: 90%;
}
.separo1 {
    margin-top: 30%; 
}
.fixed {
    margin-left: 20px;
    margin-right: 75px;
}
.fixed1 {
    margin-bottom: 30px;
}
.fixed2 {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.fixed3 {
    flex-direction: column;
    text-align: justify;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.fixed4 {
    flex-direction: column;
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
}
.fixed5{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.fixed6{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin-left: 20px;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
}
.faltas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}
.separacion {
    margin-right: 30px;
    margin-left: 45px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.center1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nombres{
    color: rgb(219, 255, 14) !important;
}

.nombres1{
    background-color: rgb(219, 255, 14);
}

/*alineaciones y centros*/
body {
    background-color: rgb(4, 24, 59)!important;
}
header, footer {
    width: 100%;
    background-color:chocolate;
}
.contenedor {
    width: 80%;
    margin: auto;
    padding: 10px 0;
}
main {
    width: 80%;
    margin: auto;
    background-color: rgb(195, 195, 207);
    padding: 3%;
}

/*arreglos de fotos y textos*/
main section{
    display: flex;
}
main section article{
    flex: 50%;
    padding: 3%;
}
article figure img{
    width: 100% ;
}

/*header y footer*/
.colorfoot {
    text-align: center;
    background-color: chocolate;
    color: rgb(219, 255, 14);
    margin: 0;
}
.colorhead {
    background-color: chocolate !important;
    width: 100%;
}
/*letras header*/
.cambio {
    color: rgb(219, 255, 14) !important;
    font-size: larger !important;
}
.colorcard {
    background-color: rgb(187, 235, 236)!important;
    border: none !important;
}

/*form*/
.formulario {
    background-color: rgb(38, 59, 99);
    color: white !important;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    display: block;
    margin-bottom: 5px;
}
.formulario input,
.formulario textarea,
.formulario button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
/*para el boton de enviar*/
.intento {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}
.abajo {
    margin-top: 10px;
    padding: 20px;
}


.adminA {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    padding: 30px;
}

.adminB {
    width: 300px;
    background-color: rgb(187, 235, 236);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adminB form {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}